<% layout('layouts/post-show-layout') -%> 


      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          
          <h1 class="header center dark-text"><%=post.title%></h1>
          <div class="row center">
          </div>
          <br>
          <div class="row center">
            <div class="col s4">
              
              <div class="slider">
                <ul class="slides">
                  <% post.images.forEach(function(image){ %>
                  <li>
                    <img src="<%=image.url %> " alt="ClothingShopPhotos" width="150" >
                    <% });%>
                  </li>
                 
                </ul>
              </div>
            </div>
            <div class="col s6">
              <div class="card-content dark-text">
             
                <p class="left-align"><b>Price:</b> <%=post.price%></p>
                <p class="left-align"><b>Quantity: </b><%=post.qty%></p>
                <p class="left-align"><b>Description:</b>  <%=post.description %></h6>
                <p class="left-align"><b>Location:</b> <%=post.location %></p>
                <p class="left-align"><div id='map'></div></p>
                <p class="left-align">
                  <a href="/posts/<%=post.id%>/edit"><button type="button" class="waves-effect waves-light green darken-2 btn">Edit</button></a>
                  <a href="/posts/"><button type="button" class="btn waves-effect waves-light red darken-3">Cancel</button></a>
                </p>
                <p class="left-align"></p>
              </div>
          </div>
         </div>
            
          </div>
          <br><br>
    
        </div>
      </div>



      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="/javascripts/materialize.js"></script>
      <script src="/javascripts/init.js"></script>
      </body>
      </html>
  
      